:root {
  /* Base colour scheme */
  --background: #f1f1f1; /* Anti-flash white */
  --highlight: #ffffff; /* White */
  --text: #111111; /* Licorice */
  --accent: #e7040f; /* Ku crimson */
  --accent-light: #eb313a; /* Deep carmine pink */
  --accent-dark: #be040d; /* Venetian red */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colour scheme */
    --background: #111111; /* Licorice */
    --highlight: #ffffff; /* White */
    --text: #f1f1f1; /* Anti-flash white */
    --accent: #ffb700; /* Gold */
    --accent-light: #ffc42e; /* Sunglow */
    --accent-dark: #d19600; /* Vivid amber */
  }

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

.background,
.hover-background:hover {
  color: var(--background);
}

.highlight,
.hover-highlight:hover {
  color: var(--highlight);
}

.text,
.hover-text:hover {
  color: var(--text);
}

.accent,
.hover-accent:hover {
  color: var(--accent);
}

.bg-background {
  background-color: var(--background);
}

.bg-highlight {
  background-color: var(--highlight);
}

.bg-text {
  background-color: var(--text);
}

.bg-accent {
  background-color: var(--accent);
}

.b--background {
  border-color: var(--background);
}

.b--highlight {
  border-color: var(--highlight);
}

.b--text {
  border-color: var(--text);
}

.b--accent {
  border-color: var(--accent);
}

.markdown p {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 30em;
}

@media screen and (min-width: 30em) {
  .markdown p {
    font-size: 1.5rem;
  }
}

/* bl bw4 bw5-ns b--highlight ma0 nl4-ns pl3 pl4-ns */
.markdown blockquote {
  margin: 0;
  padding-left: 1rem;
  border-left: 1rem solid var(--highlight);
}

.markdown blockquote p {
  font-size: 1.25rem;
  max-width: 20em;
  line-height: 1.5;
}

@media screen and (min-width: 30em) {
  .markdown blockquote {
    margin: 0 0 0 -2rem;
    padding-left: 2rem;
    border-width: 2rem;
  }

  .markdown blockquote p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 30em) {
  .markdown blockquote p {
    font-size: 2.25rem;
    line-height: 1.5;
  }
}
