---
layout: layouts/home.njk
tags:
  - nav
date: 2019-02-13
navtitle: Blog
permalink: /posts/
---

<h1 class="f2 f1-m f-subheadline-l lh-title mt0 measure-narrow pt4 mb4 mb5-ns bt bw1 b--highlight">Archive</h1>

{% set postslist = collections.notes %}
{% include "postslist.njk" %}
