---
layout: layouts/home.njk
tags:
  - nav
date: 2019-02-13
title: Books that I’ve read recently - Jon Heslop
navtitle: Reading
permalink: /reading/
---

<h1 class="f2 f-subheadline-ns fw8 i lh-title mt0 measure pt4 mb4 mb5-ns bt bw1 b--highlight">Books that I’ve read&nbsp;recently</h1>

<div reversed class="list ma0 mb6 pa0">
{%- for book in collections.books | reverse -%}

  {%- set image -%}
    http://covers.openlibrary.org/b/isbn/{{ book.data.isbn }}-M.jpg
  {%- endset -%}
  {% if book.data.localImage == true %}
    {%- set image -%}
      /img/books/{{ book.data.isbn }}.jpg
    {%- endset -%}
  {% endif %}

  <article class="bt bw1 b--highlight pv4 cf">
    <div class="{{ 'book-grid' if book.data.quote else 'book-grid-small' }}">
      <img class="db ba bw4 b--highlight mw4 {{ 'mw5-l' if book.data.quote else '' }} fl mr4 border-box" src="{{ image }}" alt="Book cover of {{ book.data.title }}" />
      <div>
        <h2 class="db f3 f2-ns fw5 ma0 lh-title measure-narrow">
          {{ book.data.title | widont | safe }}
        </h2>
        <h3 class="mt2 ma0-ns fw5 f5 f4-ns lh-title">by {{ book.data.author }}</h3>

        {% if book.data.quote %}
        {% set isShort = book.data.quote.length < 110 %}
        <blockquote class="i mt5 mt4-ns cf">
          <p class="fl quote {{ 'f2' if isShort else 'f5' }} measure ma0 mt3 pv2 pl3 bl bw4 b--highlight lh-copy">{{ book.data.quote }}</p>
        </blockquote>
        {% endif %}
      </div>
    </div>
  </article>
{%- endfor -%}
</div>
