---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1 class="f2 f1-m f-subheadline-l lh-title mt0 measure-narrow pt4 mb4 mb5-ns bt bw1 b--highlight">Week notes</h1>

<h2 class="f5 f4-l lh-title ttu tracked">Recent entries</h2>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p class="f4 f3-ns lh-copy">Keep digging in <a class="link accent hover-accent-light" href="{{ '/posts/' | url }}">the archive</a>…</p>
