---
layout: layouts/home.njk
tags:
  - nav
date: 2019-02-12
navtitle: Home
---

<h1 class="f2 f1-m f-headline-l lh-title i fw8 mt0 measure-narrow pt4 mb4 mb5-ns bt bw1 b--highlight">Week notes</h1>

<h2 class="f5 f4-l lh-title ttu tracked">Recently</h2>

{% set postslist = collections.notes | head(-3) %}
{% include "postslist.njk" %}

<p class="f4 f3-ns lh-copy">Keep digging in <a class="link accent hover-secondary" href="{{ '/posts/' | url }}">the&nbsp;archive&nbsp;»</a></p>
