---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1 class="f2 f1-m f-subheadline-l lh-title mt0 measure-narrow pt4 mb4 mb5-ns bt bw1 b--highlight">Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p class="f4 f3-ns lh-copy">See <a class="link accent hover-secondary" href="{{ '/tags/' | url }}">all tags »</a></p>
