---
layout: layouts/home.njk
tags:
  - nav
date: 2019-10-13
title: Places I have worked over the years - Jon Heslop
navtitle: Work
permalink: /work/
---

<h1 class="f2 f1-ns fw8 lh-title mt0 measure pt4 mb4 mb5-ns bt bw1 b--highlight">Places I have worked over the years</h1>

<div reversed class="list ma0 mb6 pa0">
{%- for job in collections.work | reverse -%}
  <article class="bt bw1 b--highlight pv4 cf">
    <div class="work-grid">
      <a href="{{ job.data.website }}">
        <img class="fl mr3 mb3 mr4-m mb4-m ma-l dib border-box w3 h3 w4-ns h4-ns br-100 bg-{{ job.data.bg }} ba bw3 bw4-ns b--{{ job.data.bg }}" src="/img/work/{{ job.data.logo }}" alt="{{ job.data.company }} logo" style="{{ job.data.tweak }}" />
      </a>
      <div>
        <h2 class="db f3 f2-ns fw8 ma0 lh-title measure-narrow">
          <a class="link text hover-accent underline" href="{{ job.data.website }}">
            {{ job.data.company | widont | safe }}
          </a>
        </h2>
        <h3 class="mt2 ma0-ns fw4 f5 f4-ns lh-copy">
          <em>{{ job.data.title }}</em><br/>
          {{ job.data.period }}
        </h3>

        <div class="markdown">
          {{ job.templateContent | safe }}
        </div>
      </div>
    </div>
  </article>
{%- endfor -%}
</div>
