<ol reversed class="list ma0 mb6 pa0">
{% for post in postslist | reverse %}
  <li class="lh-copy mb4 bt bw1 b--highlight{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="link accent hover-secondary f3 f2-l mr3">{% if post.data.title %}{{ post.data.title | widont | safe }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="f4 f3-l lh-title mt3 i fr" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ol>
