<ol reversed class="list ma0 pa0" style="counter-reset: start-from {{ postslist.length + 1 }}">
{% for post in postslist | reverse %}
  <li class="lh-copy mb4 bt bw1 b--highlight{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="link accent f3 f2-l mr3">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="f4 f3-l i fr" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ol>
