.book-grid {
  @media (--large) {
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-gap: 4rem;
  }
}

.quote {
  quotes: initial;

  &:before {
    content: open-quote;
    margin-left: -.3rem;
  }

  &:after {
    content: close-quote;
  }
}
