<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.min.css' | url }}">
    <link rel="stylesheet" href="https://use.typekit.net/kri1xxu.css">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <!-- OpenGraph and Twitter stuff, boo Facebook but I think other things use these to generate previews -->
    <meta property="og:url" content="http://jonheslop.com/"/>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}"/>
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ '/img/jfh-og.gif' | url }}"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@jonheslop"/>
    <meta name="twitter:creator" content="@jonheslop"/>
    <meta name="twitter:title" content="{{ renderData.title or title or metadata.title }}" />
    <meta name="twitter:description" content="{{ renderData.description or description or metadata.description }}" />

    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/jfh-16.gif' | url }}"/>
    <!--
     <link rel="icon" type="image/png" sizes="32x32" href=""/>
    <link rel="icon" type="image/png" sizes="96x96" href=""/>
    <link rel="apple-touch-icon" href=""/>
    <link rel="apple-touch-icon" sizes="180x180" href=""/>
    <link rel="apple-touch-icon" sizes="152x152" href=""/>
    <link rel="apple-touch-icon" sizes="167x167" href=""/>
    -->
  </head>
  <body class="tk-marco ma0 pa4 text bg-background">
    <header class="flex flex-wrap fixed-l ml0 ml5-m ml0-l mb4" role="banner">
      <h1 class="ma0">
        <a class="logo dib br-100 accent hover-accent-light" href="{{ '/' | url }}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 682.17 682.18" class="dib db-l w3 h3 br-100 bg-highlight" title="{{ metadata.title }}"><path fill="currentColor" d="M0 0v682.17h682.17V0zm209.68 444.37s0 18.68-18.33 41.45c-21.23 26.36-26 28.59-26 28.59l-28-30.35 19.11-18.09s6.57-7.45 6.57-14.6V273.78l46.72-9.34zm311.48-60.08l-46.73 9.34v-70.08l-54.57 10.91v70.08l-46.73 9.35V276.05l-81.78 16.36v25.71l46.77-9.34v42.04l-46.77 9.3v70.08l-46.66 9.35-.06-182.22 175.27-35v70.09l54.57-10.91v-70.1l46.73-9.34z"/></svg>
        </a>
      </h1>
      <nav role="navigation" class="dib db-l ml-auto ml0-l w-100-l">
        <ul class="list pa0 dib mt4-l">
          {%- for nav in collections.nav | reverse -%}
          <li class="dib db-l f5 f4-ns lh-title lh-copy-l">
            <a href="{{ nav.url | url }}" class="link {{ "accent hover-accent-light" if nav.url == page.url else "text hover-accent" }} pv2 pv1-l ph2 ph3-ns ph0-l">
              {{ nav.data.navtitle }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </header>

    <main class="{{ templateClass }} ml5-m ml7-l mb7"role="main">
      {{ content | safe }}
    </main>

    <footer class="ml5-m ml7-l bt bw1 b--highlight">
      <p class="mt0 mt1 pt2 f5 f4-ns i">
        &copy; Jon Heslop, 2019, powered by <a href="https://www.11ty.io/" class="link accent hover-accent-light">11ty</a>, <a href="https://github.com/jonheslop/week-notes" class="link accent hover-accent-light">Github</a> and <a href="https://www.zeit.co/now" class="link accent hover-accent-light">Now</a>.
        <a href="http://twitter.com/jonheslop" class="link accent hover-accent-light fr">
          Twitter
        </a>
      </p>
    </footer>
  </body>
</html>
