<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.min.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <!-- OpenGraph and Twitter stuff, boo Facebook but I think other things use these to generate previews -->
    <meta property="og:url" content="http://notes.jonheslop.com/"/>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}"/>
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/img/{{ image or 'jfh-og.gif' | url }}"/>
    <meta name="twitter:card" content="{{ "summary_large_image" if image else "summary" }}" />
    <meta name="twitter:site" content="@jonheslop"/>
    <meta name="twitter:creator" content="@jonheslop"/>
    <meta name="twitter:title" content="{{ renderData.title or title or metadata.title }}" />
    <meta name="twitter:description" content="{{ renderData.description or description or metadata.description }}" />
    <meta name="twitter:image" content="/img/{{ image or 'jfh-og.gif' | url }}" />

    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/jfh-16.gif' | url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/jfh-32.gif' | url }}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/img/jfh-96.gif' | url }}"/>
    <link rel="apple-touch-icon" href="{{ '/img/jfh-120.gif' | url }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/jfh-180.gif' | url }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/img/jfh-152.gif' | url }}"/>
    <link rel="apple-touch-icon" sizes="167x167" href="{{ '/img/jfh-167.gif' | url }}"/>
  </head>
  <body class="sans-serif fw6 ma0 pa3 pa4-ns text bg-background">
    <header class="flex flex-wrap items-center fixed-l ml0 ml5-m ml0-l mb3 mb4-l" role="banner">
      <h1 class="ma0">
        <a class="logo db br-100 accent hover-secondary" href="{{ '/' | url }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 682.17 682.18" class="db db-l w2 h2 w3-ns h3-ns br-100 bg-highlight" title="{{ metadata.title }}"><path fill="currentColor" d="M0 0v682.17h682.17V0zm209.68 444.37s0 18.68-18.33 41.45c-21.23 26.36-26 28.59-26 28.59l-28-30.35 19.11-18.09s6.57-7.45 6.57-14.6V273.78l46.72-9.34zm311.48-60.08l-46.73 9.34v-70.08l-54.57 10.91v70.08l-46.73 9.35V276.05l-81.78 16.36v25.71l46.77-9.34v42.04l-46.77 9.3v70.08l-46.66 9.35-.06-182.22 175.27-35v70.09l54.57-10.91v-70.1l46.73-9.34z"/></svg>
        </a>
      </h1>
      <nav role="navigation" class="dib db-l ml-auto ml0-l w-100-l nt2-l">
        <ul class="list pa0 dib mt4-l">
          {%- for nav in collections.nav -%}
          <li class="dib db-l f5 f4-ns lh-title lh-copy-l">
            <a href="{{ nav.url | url }}" class="link {{ "text hover-accent" if nav.url == page.url else "text hover-accent" }} pv2 ph2 ph3-ns ph0-l">
              {{ nav.data.navtitle }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </header>

    <main class="{{ templateClass }} ml5-m ml7-l mb7-ns" role="main">
      {{ content | safe }}
    </main>

    <footer class="ml5-m ml7-l bt bw1 b--highlight">
      <p class="dib-l mt1 pt2 f6 f5-ns measure measure-narrow-l">
        Powered by <a href="https://www.11ty.io/" class="link text hover-accent underline">11ty</a>, <a href="https://github.com/jonheslop/week-notes" class="link text hover-accent underline">GitHub</a> and&nbsp;<a href="https://www.vercel.com" class="link text hover-accent underline">Vercel</a>.
      </p>
      <p class="dib-l mt1 pt2 f6 f5-ns fr-l">
        <a href="https://twitter.com/jonheslop" class="link text hover-accent underline mr2 mr-l ml2-l">
          Twitter »
        </a>
        <a href="https://vsco.co/jonheslop" class="link text hover-accent underline mr2 mr-l ml2-l">
          VSCO »
        </a>
        <a href="https://www.last.fm/user/jonheslop" class="link text hover-accent underline mr2 mr-l ml2-l">
          Last.fm »
        </a>
        <a href="https://keybase.io/jonheslop" class="link text hover-accent underline mr2 mr-l ml2-l">
          Keybase »
        </a>
        <a href="https://letterboxd.com/jonheslop" class="link text hover-accent underline ml2-l">
          Letterboxd »
        </a>
      </p>
    </footer>
  </body>
</html>
