---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="markdown">
  <header class="bt bw1 b--highlight">
    <time class="dib mv1 mb0-ns lh-title f5 f4-ns fw5 i accent" datetime="{{ date | htmlDateString }}">Week {{ date | readableWeek }}</time>
    <time class="dib mv1 mb0-ns lh-title f5 f4-ns fw5 i accent fr" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    <h1 class="f2 f1-m f-subheadline-l lh-title mt0 measure-narrow pt1 mb4 mb5-ns">{{ title | widont | safe }}</h1>
  </header>

  {{ content | safe }}
</article>

<p class="f4 f3-ns lh-copy mt0 pt2 mb4 mb5-ns bt bw1 b--highlight">
  <a class="link accent hover-accent-dark" href="{{ '/' | url }}">← Home</a>
</p>
