---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
  <header class="bt bw1 b--highlight {{ 'mb5' if not bigTitle }}">
    <time class="dib mv1 mb0-ns lh-title f5 f4-ns fw5 i accent" datetime="{{ date | htmlDateString }}">Week {{ date | readableWeek }}</time>
    <time class="dib mv1 mb0-ns lh-title f5 f4-ns fw5 i accent fr" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    {% if bigTitle %}
      <h1 class="f2 f1-m f-subheadline-l lh-title mt0 measure-narrow pt1 mb4 mb5-ns">{{ title | widont | safe }}</h1>
    {% endif %}
  </header>

  {% if image %}
    {% set image_path = '/img/' + image %}
    <figure class="mv4 mr0 ml0 mr6-l nl4-ns pa0 w-70-l ba bw4 bw5-ns b--highlight border-box bg-highlight">
      <img class="db" src="{{ image_path | url }}" alt="{{ imageCaption }}" />
    </figure>
  {% endif %}
  <div class="markdown">
    {{ content | safe }}
  </div>
</article>

<p class="f4 f3-ns lh-copy mt0 pt2 mb4 mb5-ns bt bw1 b--highlight">
  <a class="link accent hover-secondary" href="{{ '/' | url }}">← Home</a>
</p>
